$mobile: 320px;
$large-mobile: 480px;
$large-mobile-max: max-width 479px;
$screen-sm-min: 768px;
$screen-sm-max: max-width 767px;
$screen-md-min: 992px;
$screen-mid-max: max-width 979px;
$screen-md-max: max-width 991px;
$screen-hdv-min: 1080px;
$screen-hdv-max: max-width 1079px;
$screen-lg-min: 1200px;
