$color-brand: #0495E4;
$color-brand-dark: #056DA6;

$color-blue-darker: #005F93;
$color-blue-dark: #D4E3EC;
$color-blue-links: #057FC1;
$color-blue-feature: #E6EFF4;
$color-blue-lines: #BDDEF1;
$color-blue-lines-dark: #00527F;
$color-blue-background: #1B8DCC;
$color-blue-background-transparent: rgba(2, 129, 198, 0.9);
$color-blue-background-light: #0A6DA4;
$color-blue-background-lighter: #229BDD;
$color-blue-background-lighter-transparent: rgba(10, 144, 217, 0.9);
$color-blue-background-dark: #0281C6;
$color-blue-background-darker: #037ABB;
$color-skyblue-light: #00A0C8;
$color-skyblue-dark: #088FD8;
$color-skyblue-darker: #03A6BE;
$color-blue--highlighted: #124460;
$color-blue-menu-transparent: rgba(4, 149, 228, 0.9);
$color-blue-submenu-transparent: rgba(7, 120, 182, 0.93);
$color-blue-menu-triangle: rgba(7, 120, 182, 0.96);
$color-blue-menu-mobile-dropdown: rgba(7, 120, 182, 0.86);
$color-blue-menu-mobile-border: rgba(4, 89, 136, 0.31);
$color-blue-menu-border: #086294;
$color-blue-toplinks: #0286D0;
$color-blue-mobile-menu: #0495E3;
$color-blue-button-nav: #046296;
$color-blue-light-links: #8FD6FD;
$color-blue-dark-links: #127FBC;
$color-blue-darker-links: #3693D0;
$color-skyblue-highlight: #CFE3EF;
$color-skyblue-highlight-light: #09689C;
$color-skyblue-rollover: #0073B6;
$color-blue-background-hover: #017E9A;
$color-blue-border-light: #0A6395;
$color-blue-border-dark: #025684;
$color-blue-border-darker: #1392D8;
$color-blue-link-hover: #0A90D9;
$color-skyblue-background: #0097E9;
$color-skyblue-background-light: #12ABFF;
$color-skyblue-link: #0B7FC1;
$color-skyblue-link-dark: #016FAB;
$color-skyblue-link-darker: #0A81C5;
$color-skyblue-link-hover: #169CE6;

$color-white: #FFFFFF;
$color-black: #000000;
$color-black-light: #446B6D;
$color-black-gray: #464646;
$color-black-gray-light: #444346;

$color-gray: #E8F1F6;
$color-gray-light: #9DA6AD;
$color-gray-dark: #85807D;
$color-gray-darker: #434346;
$color-gray-lighter: #E8EDF1;
$color-gray-lighter-active: #D6E0EA;
$color-gray-links: #ACAFAC;
$color-gray-text: #7C98A6;
$color-gray-lightest: #E5EEF2;
$color-gray-border: #E1EBF0;
$color-gray-border-light: #E4EDF1;
$color-gray-border-dark: #D4E3EB;
$color-gray-background-light: #F8FAFB;
$color-grayish-blue: #6F8C9B;
$color-grayish-blue-light: #F9FBFB;
$color-grayish-blue-dark: #F8FAFC;

$color-green-lighter: #D1E6EA;
$color-green: #3DB85A;

$color-orange: #F35906;

$color-twitter: #09A4F8;
$color-linkedin: #0774AF;
$color-facebook: #015B8C;
$color-rss: #F88509;

$color-blue-arrow: #035A89;
$color-blue-arrow-dark: #008599;
$color-blue-arrow-light: #057FC1;
$color-blue-arrow-dark: #0069A3;

