@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700");

$primary-font: "Lato", sans-serif;
$secondary-font: "Droid Serif", serif;

// Font size.
$font-ss: 11px;
$font-sms: 12px;
$font-sm: 13px;
$font-s: 14px;
$font-sl: 15px;
$font-sxl: 16px;
$font-ms: 17px;
$font-m: 18px;
$font-ml: 20px;
$font-mxl: 22px;
$font-mxxl: 24px;
$font-ls: 25px;
$font-lsm: 26px;
$font-lms: 28px;
$font-lm: 30px;
$font-l: 32px;
$font-lml: 34px;
$font-ll: 36px;
$font-lls: 38px;
$font-lxl: 40px;
$font-xl: 50px;
$font-xls: 60px;
$font-xll: 65px;
$font-xxl: 70px
